---
import Layout from '../layouts/Layout.astro';
import Loader from '../components/Loader.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Works from '../components/Works.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import Marquee from '../components/Marquee.astro';
import About from '../components/About.astro';
---

<Layout>
  <Loader />
  <Nav />
  <main id="main-content" tabindex="-1">
    <Hero />
    <div class="hero-cover">
      <Marquee />
      <About />
      <Works />
      <FAQ />
    </div>
    <Footer />
  </main>
</Layout>
